html, body {
  margin: 0;
  padding: 0;
}

.topBar {
  background-image: url('https://media.giphy.com/media/3oEjHYlwvUK5p9AIbm/giphy.gif');
  margin: 0px;
  padding: 40px 0px 20px 40px;
  width: calc(100% - 40px);
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  color: coral;
  text-shadow: 2px 2px blanchedalmond;
  text-align:start;
  background-position: 5% 15%;
}

.container {
  border: 0px solid black;
  display: flex;
  margin: 0 auto;
}

.sideBar {
  padding: 1rem;
  width: 25%;
}

#sketchID {
  padding: 0px;
  border: 2px solid red;
  width: 75%;
  overflow: hidden;
  height: 815px;
}
 