html, body {
  margin: 0;
  padding: 0;
  
}
canvas {
  display: block;
  background-color: bisque;
}
h1{
  text-align: center;
  color: lightskyblue  ;
  font-family:"Courier New";
  font-size: 50pt;
  font-weight:bold;
  top: 10%;
}
h3{
  text-align: center;
  position: relative;
  top: 12%;
  color: steelblue;
  font-family:“Goudy Old Style”, Garamond, “Big Caslon”, “Times New Roman”, serif;
  font-size: 14pt;
}
#Canvas{
  position: absolute;
  left: 35%;
  top: 30%;
}
#information{
  border-radius: 5px;
  background-color: lightpink;
  position: absolute;
  top: 85%;
  left: 35%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin: 0px;
  width: 400px;
  height: 115px;
  text-align: center;
}
.project-link{
  box-shadow: 5px 5px 5px 0px;
  background-color: lightcoral;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0%;
  top: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 15px;
  color:white;
  transition: color 0.1s;
}







