html, body {
  margin: 0;
  padding: 0;
}

.topBar {
  background-image: url('https://media.giphy.com/media/3oEjHYlwvUK5p9AIbm/giphy.gif');
  margin: 0px;
  padding: 40px 0px 20px 40px;
  width: calc(100% - 40px);
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  color: coral;
  text-shadow: 2px 2px blanchedalmond;
  text-align:start;
  background-position: 5% 15%;
}

canvas {
  display: flex;
  position: absolute;
  margin: 50px 100px 60px 60px ;
}
