html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: lightcoral;
}
.wrapper{
  display: flex;
  flex-direction: row;
}

#canvasContainer {
  display: block;
  position: absolute;
  left: 30%;
  top: 10px;
  align-items: center;
}
#about{
  color: white;
  font-size: 18px;
  width: 35%;
  height: 28%;
  
  
  position: absolute;
  left: 29%;
  top: 15%;
  background-color: lightblue;
  box-shadow: 10px 10px 5px lightgoldenrodyellow;
}

.instructions{
  color: white;
  font-size: 18px;
  width: 35%;
  height: 28%;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  
  position: relative;
  top: 500px; 
  left: 450px;
  background-color: lightgoldenrodyellow;
  box-shadow: 10px 10px 5px lightblue;
}

a.buttonso{
  color: black;
  text-decoration: none;
  position: absolute;
  left: 25%;
  top:170%;
  border: 0;
  line-height: 1.5;
  padding: 20px 100px;
  font-size: 20px;
  background-color: rgb(242,172,185);
}

a.buttonso:hover{
  background-color: lightcoral;
}

a.buttonst{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  top: 130px;
  left: 70%;
}
